In [28]:
import pandas as pd
import numpy as np
from math import isnan

In [22]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87,45], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

Problem Statement 1:
--------------------

Some values in the the FlightNumber column are missing. These numbers are
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).

In [12]:
for i in range(0,len(df['FlightNumber'])):
    if pd.isnull(df.loc[i,'FlightNumber']):
        df.loc[i, 'FlightNumber'] = int(df.loc[i-1, 'FlightNumber'] + 10)

In [32]:
#df["FlightNumber"] = [df["FlightNumber"][i-1]+10 if isnan(df["FlightNumber"][i]) else df["FlightNumber"][i] for i in range(0,len(df["FlightNumber"]))]
df

            From_To  FlightNumber      RecentDelays              Airline
0      LoNDon_paris       10045.0          [23, 47]               KLM(!)
1      MAdrid_miLAN       10055.0                []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87, 45]  (British Airways. )
3    Budapest_PaRis       10075.0              [13]       12. Air France
4   Brussels_londOn       10085.0          [67, 32]          "Swiss Air"

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
From_To         5 non-null object
FlightNumber    5 non-null float64
RecentDelays    5 non-null object
Airline         5 non-null object
dtypes: float64(1), object(3)
memory usage: 288.0+ bytes

In [36]:
df['FlightNumber']=df['FlightNumber'].astype(int)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
From_To         5 non-null object
FlightNumber    5 non-null int32
RecentDelays    5 non-null object
Airline         5 non-null object
dtypes: int32(1), object(3)
memory usage: 268.0+ bytes